// General
body {
    font-family: sans-serif;
    @include bp(600px) {
        font-size: 0.75em;
    }
}

.narrow-container{
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
}

a {
    color: inherit;
    &:visited {
        color: inherit;
    }
}

// Inputs
input, textarea {
    display: block;
}

input[type='text'], textarea {
    width: 100%;
    font-size: 1.5em;
    padding: 10px;
}

textarea {
    height: 200px;
    resize: vertical;
}

// Buttons
button, input[type='submit'] {
    display: inline-block;
    font-family: $serif-font;
    font-size: 1.25em;
    text-decoration: none;
    background-color: $grey;
    border: 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    transition: 0.2s;
    i {
        margin-right: 10px;
    }
    @media (hover: hover) {
        &:hover {
            background-color: $dark-grey;
        }
    }
}

button.primary {
    background-color: $green;
    @media (hover: hover) {
        &:hover {
            background-color: $dark-green;
        }
    }
}

button.delete{
    background-color: $red;
    @media (hover: hover) {
        &:hover {
            background-color: $dark-red;
        }
    }
}

// Should include a .left-buttons container and a .right-buttons container
.buttons-container {
    display: flex;
    justify-content: space-between;
    .right-buttons {
        button:last-child {
            margin-right: 0;
        }
    }
}