.home-page {
    text-align: center;
    font-family: $serif-font;
    .quote-container {
        color: $red;
        font-style: italic;
        margin: 30px 0px;
        .quote {
            font-size: 2em;
            line-height: 1.2em;
            width: 75%;
            margin: 0 auto 20px auto;
        }
        .attribution {
            font-size: 1.5em;
        }
    }
}