.recipe-list {
    .recipe {
        font-family: $serif-font;
        color: $red;
        font-size: 1.5em;
        text-align: center;
        &:hover {
            color: $dark-red;
        }
        text-decoration: none;
        &::after {
            content: '';
            display: block;
            width: 200px;
            height: 2px;
            background-color: $grey;
            margin: 20px auto;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}