.recipe-list {

    button {
        i {
            margin: 0;
        }
    }

    h1 {
        font-family: $serif-font;
        font-size: 2em;
        text-align: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $grey;
    }

    .recipe {
        font-family: $serif-font;
        color: $red;
        font-size: 1.5em;
        text-align: center;
        &:hover {
            color: $dark-red;
        }
        text-decoration: none;
        &::after {
            content: '';
            display: block;
            width: 200px;
            height: 2px;
            background-color: $grey;
            margin: 20px auto;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}