.recipe-viewer {
    section {
        margin-bottom: 30px;
    }
    .title{
        font-family: $serif-font;
        color: $red;
        font-size: 2.5em;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: 20px;
    }
    .description {
        @include bodytext();
        margin-bottom: 20px;
        text-align: center;
    }
    .yields {
        font-family: $serif-font;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
    .ingredients-list {
        @include bodytext();
        li {
            @include hangingindent();
            margin-bottom: 10px;
        }
    }
    .instructions {
        @include bodytext();
        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }
        li {
            margin-bottom: 10px;
            text-indent: 30px;
        }
    }
    .notes {
        @include bodytext();
    }
    .tags {
        .tag {
            font-family: $serif-font;
            display: inline-block;
            border: 2px solid $red;
            color: $red;
            padding: 5px;
            margin: 0px 15px 0px 0px;
            cursor: pointer;
            &:hover {
                background-color: $red;
                color: white;
            }
        }
    }
    .buttons-wrapper {
        text-align: right;
    }
    .divider {
        height: 2px;
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        background-color: $grey;
    }
    .not-found {
        font-family: $serif-font;
        font-size: 2em;
        text-align: center;
        margin: 30px;
    }
}