/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Merriweather:400,400i|Open+Sans";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.subhead {
  font-family: "Merriweather";
  font-style: italic;
  color: #b22222;
  font-size: 1.5em;
  margin: 10px 0px; }

body {
  font-family: sans-serif; }
  @media (max-width: 600px) {
    body {
      font-size: 0.75em; } }

.narrow-container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto; }

a {
  color: inherit; }
  a:visited {
    color: inherit; }

input, textarea {
  display: block; }

input[type='text'], textarea {
  width: 100%;
  font-size: 1.5em;
  padding: 10px; }

textarea {
  height: 200px;
  resize: vertical; }

button, input[type='submit'] {
  display: inline-block;
  font-family: "Merriweather";
  font-size: 1.25em;
  text-decoration: none;
  background-color: #808080;
  border: 0;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  transition: 0.2s; }
  button i, input[type='submit'] i {
    margin-right: 10px; }
  @media (hover: hover) {
    button:hover, input[type='submit']:hover {
      background-color: #404040; } }

button.primary {
  background-color: #145a32; }
  @media (hover: hover) {
    button.primary:hover {
      background-color: #092a17; } }

button.delete {
  background-color: #b22222; }
  @media (hover: hover) {
    button.delete:hover {
      background-color: #561010; } }

.buttons-container {
  display: flex;
  justify-content: space-between; }
  .buttons-container .right-buttons button:last-child {
    margin-right: 0; }

.loader {
  font-family: "Merriweather";
  color: #808080;
  text-align: center;
  font-size: 1.5em; }

header {
  background-color: black;
  border-bottom: 1px solid grey; }
  header a {
    text-decoration: none; }
  header .app-title {
    display: inline-block;
    padding: 25px;
    font-family: "Merriweather";
    color: white;
    font-size: 2em;
    font-weight: 300;
    transition: 0.2s; }
    @media (hover: hover) {
      header .app-title:hover {
        background-color: #808080; } }
    @media (max-width: 600px) {
      header .app-title {
        padding: 20px; } }

.home-page {
  text-align: center;
  font-family: "Merriweather"; }
  .home-page .toolbar {
    text-align: right; }
  .home-page h2 {
    font-style: italic;
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 15px; }
  .home-page section {
    margin-bottom: 30px; }
  .home-page .quote-container {
    color: #b22222;
    font-style: italic;
    margin: 30px 0px;
    padding: 30px;
    border-bottom: 1px solid #808080; }
    @media (max-width: 600px) {
      .home-page .quote-container {
        padding-top: 10px; } }
    .home-page .quote-container .quote {
      font-size: 2em;
      line-height: 1.2em;
      width: 75%;
      margin: 0 auto 20px auto; }
    .home-page .quote-container .attribution {
      font-size: 1.5em; }
  .home-page .search-box {
    display: flex; }
    .home-page .search-box button {
      width: 100px;
      margin-left: 10px; }
  .home-page .tags {
    text-align: left; }
    .home-page .tags .tag {
      font-family: "Merriweather";
      display: inline-block;
      border: 2px solid #b22222;
      color: #b22222;
      padding: 5px;
      margin: 0px 15px 15px 0px;
      cursor: pointer; }
      .home-page .tags .tag:hover {
        background-color: #b22222;
        color: white; }

.recipe-list button i {
  margin: 0; }
.recipe-list h1 {
  font-family: "Merriweather";
  font-size: 2em;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #808080; }
.recipe-list .recipe {
  font-family: "Merriweather";
  color: #b22222;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none; }
  .recipe-list .recipe:hover {
    color: #561010; }
  .recipe-list .recipe::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: #808080;
    margin: 20px auto; }
  .recipe-list .recipe:last-child::after {
    display: none; }

.recipe-editor label {
  display: block;
  font-family: "Merriweather";
  font-size: 1.2em;
  margin-bottom: 10px; }
.recipe-editor input[type="text"], .recipe-editor textarea {
  margin-bottom: 20px; }
.recipe-editor .ingredient {
  display: flex;
  padding: 20px 0px 20px 20px;
  margin: 5px 0px 30px 0px;
  border: 2px solid #808080; }
  .recipe-editor .ingredient .fields {
    width: 100%; }
  .recipe-editor .ingredient .remove-button-wrapper {
    display: flex;
    align-items: center;
    width: 50px; }
  .recipe-editor .ingredient .remove-button {
    color: #b22222;
    width: 100%;
    text-align: center;
    font-size: 2em;
    cursor: pointer; }
    .recipe-editor .ingredient .remove-button:hover {
      color: #561010; }
  .recipe-editor .ingredient :last-child {
    margin-bottom: 0; }
.recipe-editor .tags-editor {
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid #808080; }
  .recipe-editor .tags-editor .tags {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  .recipe-editor .tags-editor .tag {
    font-family: "Merriweather";
    font-size: 1.25em;
    border: 2px solid #b22222;
    color: #b22222;
    padding: 10px;
    margin: 0px 15px 10px 0px;
    cursor: pointer; }
    .recipe-editor .tags-editor .tag i {
      margin-left: 15px; }
    .recipe-editor .tags-editor .tag:hover {
      background-color: #b22222;
      color: white; }
  .recipe-editor .tags-editor .add-tag {
    display: flex;
    align-items: stretch;
    margin: 10px 0px; }
    .recipe-editor .tags-editor .add-tag input {
      margin: 0; }
    .recipe-editor .tags-editor .add-tag button {
      min-width: 150px;
      margin-left: 10px; }

.recipe-viewer section {
  margin-bottom: 30px; }
.recipe-viewer .title {
  font-family: "Merriweather";
  color: #b22222;
  font-size: 2.5em;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 20px; }
.recipe-viewer .description {
  font-family: "Merriweather";
  line-height: 1.75em;
  margin-bottom: 20px;
  text-align: center; }
.recipe-viewer .yields {
  font-family: "Merriweather";
  font-weight: bold;
  font-style: italic;
  text-align: center; }
.recipe-viewer .ingredients-list {
  font-family: "Merriweather";
  line-height: 1.75em; }
  .recipe-viewer .ingredients-list li {
    padding-left: 35px;
    text-indent: -35px;
    margin-bottom: 10px; }
.recipe-viewer .instructions {
  font-family: "Merriweather";
  line-height: 1.75em; }
  .recipe-viewer .instructions ol {
    list-style-type: decimal;
    list-style-position: inside; }
  .recipe-viewer .instructions li {
    margin-bottom: 10px;
    text-indent: 30px; }
.recipe-viewer .notes {
  font-family: "Merriweather";
  line-height: 1.75em; }
.recipe-viewer .tags .tag {
  font-family: "Merriweather";
  display: inline-block;
  border: 2px solid #b22222;
  color: #b22222;
  padding: 5px;
  margin: 0px 15px 0px 0px;
  cursor: pointer; }
  .recipe-viewer .tags .tag:hover {
    background-color: #b22222;
    color: white; }
.recipe-viewer .buttons-wrapper {
  text-align: right; }
.recipe-viewer .divider {
  height: 2px;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  background-color: #808080; }
.recipe-viewer .not-found {
  font-family: "Merriweather";
  font-size: 2em;
  text-align: center;
  margin: 30px; }

/*# sourceMappingURL=styles.css.map */
